name: publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+*'

permissions:
  id-token: write # Required for OIDC and provenance (npm publish)
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      # Ensure npm 11.5.1 or later is installed (for trusted publishing)
      - name: Update NPM
        run: npm install -g npm@latest
      - name: Lint & Tests
        run: |
          npm ci
          npm run lint
          npm run test:ci
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "./test-report-lcov.info"
      - name: Publish
        run: npm publish