name: publish
on:
  workflow_dispatch:
  push:
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+*'

permissions:
  id-token: write # Required for OIDC and provenance (npm publish)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - name: Lint & Tests
        run: |
          npm install
          npm run lint
          npm run test:ci
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "./test-report-lcov.info"
      - name: Publish
        run: npm publish
